<%- include("./partials/header.ejs"); %> 

<h1>HOME</h1>
<p><%= homeStartingContent %> </p>

<% posts.forEach((post)=>{ %>
    <h1><%= post.title %></h1>
    <p><%= post.content.substring(0,100) %> <a href="/posts/<%=post._id%>">Read more</a> </p>
    <% }) %>
    <br>
    
    <div class="container">
    <a class="btn btn-dark btn-lg" href="/compose" role="button">Compose</a>
</div>

<%- include("./partials/footer") %>
